.no-padding{
	padding: 0px
}
.anchor {
	color: #000;
}
.anchor:hover {
	color: blue;
	transition-duration: 0.3s;
	text-decoration: none;
}
.head-anchor:hover{
	text-decoration: none;
}
.repo-branch {
	float: right;background-color: rgba(0,0,0,0.4);padding: 5px;color: #fff;border-radius: 5px;margin-right: 0rem;
}
.page-head {
	padding: 2rem 0;border-bottom: solid thin #f5f5f5;background-color: #f5f5f5;border-bottom: solid thin rgba(0,0,0,0.3);
}